<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>MaxSpeedVPN</vendor>
  <vendor_url>https://github.com/envywook/MaxSpeedVPN-Linux</vendor_url>
  <action id="com.maxspeedvpn.netd.connect">
    <description>Connect MaxSpeedVPN</description>
    <message>Authentication is required to change VPN routing</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="com.maxspeedvpn.netd.disconnect">
    <description>Disconnect MaxSpeedVPN</description>
    <message>Authentication is required to change VPN routing</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
  <action id="com.maxspeedvpn.netd.disable-always-on">
    <description>Disable the MaxSpeedVPN always-on kill switch</description>
    <message>Administrator authentication is required to disable leak protection</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
